body {
    background-color: #f6f6f6;
    font-family: Verdana; /*Define qual fonte será utilizada*/
    max-width: 900px; /*largura resposiva ao tamanho da tela, colocando um limite maximo*/
    margin: auto; /*cria um espaçamento do lado esquerdo e direito*/
}


#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 40px; /*Define o tamanho da fonte*/
    text-transform: uppercase; /*Defini que todoas as letrar irão ser maiusculas*/
}

a {
    text-decoration: line-through; /*linha ao centro*/
    color: #505050;

}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize; /*Coloca as primeiras letrars como maiusculas*/
}

.post {
    background-color: #fff; /*cor de fundo*/
    padding: 15px 10px 5px 0; /*espaço entre elementos*/
    border: 3px solid #505050; /*definição de bordar*/
    border-radius: 5%; /*modelar as pontas das bordas*/
    margin-bottom: 10px; /*tamanha da margem*/
}

.post_img {
    margin-left: 45px;
    margin-bottom: 15px; 
    border-radius: 10px;/*margem redonda usar 50%*/
    max-width: 90%; /*largura*/
}

.texto {
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}